{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" class="form-signin" method="POST">
    <div class="form-group" id="fos_user_registration_form">
        <h2>Update Profile Info</h2>

        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        {% if form_errors(form.username) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.username) }}</div>{% endif %}

        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
        {% if form_errors(form.email) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.email) }}</div>{% endif %}

        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
        {% if form_errors(form.current_password) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.current_password) }}</div>{% endif %}


        {{ form_rest(form) }}

    </div>
    <div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'Update'|trans }}">
    </div>
</form>

{% block stylesheets %}
    <style>
        content {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

