{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    Update Your Profile
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
