{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    User Info
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
