{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" style="padding-top: 30px">
    <h2>User Info</h2>
    <p class="lead">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p class="lead">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
