<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Book Review Site</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="navbar-text">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        {{ 'Edit Profile' }}
                    </a>
                </p>

                    <p class="navbar-text">
                        <a href="{{ path('create') }}">
                            {{ 'Add Book' }}
                        </a>
                    </p>


                {% endif %}
                <p class="navbar-text">
                    <a href="{{ path('nelmio_api_doc_index') }}">
                        {{ 'API Documentation' }}
                    </a>
                </p>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                    <form method="POST" action="{{ path('search') }}" class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" name="keywords" placeholder="Search" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>



                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="navbar-text">
                        Logged in as {{ app.user }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'Log out' }}
                    </a>
                    </p>
                {% else %}
                    <p class="navbar-text">
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'Register' }}</a>
                    </p>

                    <p class="navbar-text">
                    <a href="{{ path('fos_user_security_login') }}">{{ 'Log in' }}</a>
                    </p>
                {% endif %}

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>