{% extends "::base.html.twig" %}

{% block title %}Add New Book{% endblock %}

{% block content %}





<form action="{{ path('create') }}" class="form-signin" method="POST" enctype="multipart/form-data">
    <div class="form-group" id="fos_user_registration_form">
        <h2>Add New Book</h2>

        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Title'|trans } }) }}
        {% if form_errors(form.title) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.title) }}</div>{% endif %}

        {{ form_widget(form.summary, { 'attr': {'class': 'form-control', 'style' : 'height: 200px; resize:none', 'placeholder': 'Summary'|trans } }) }}
        {% if form_errors(form.summary) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.summary) }}</div>{% endif %}

        {{ form_widget(form.image, { 'attr': {'class': 'form-control', 'placeholder': 'Image'|trans } }) }}
        {% if form_errors(form.image) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.image) }}</div>{% endif %}


        {{ form_widget(form.author, { 'attr': {'class': 'form-control', 'placeholder': 'Author'|trans } }) }}
        {% if form_errors(form.author) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.author) }}</div>{% endif %}

    </div>
    <div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
    </div>
</form>

{% endblock %}

{% block stylesheets %}
    <style>
        content {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            float: left;
            width: 100%;
            max-width: 530px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}


