{% extends "::base.html.twig" %}

{% block title %}Edit Review{% endblock %}

{% block content %}

    <form class="form-signin" method="POST" enctype="multipart/form-data">
        <div class="form-group" id="fos_user_registration_form">
            <h2>Edit Your Review</h2>
            <label>Comment</label>
            {{ form_widget(form.comment, { 'attr': {'class': 'form-control','style':'resize:none; height:250px' , 'placeholder': 'Comment'|trans } }) }}
            {% if form_errors(form.comment) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.comment) }}</div>{% endif %}
            <label>Stars</label>
            {{ form_widget(form.stars, { 'attr': {'class': 'form-control', 'style' : 'height: auto; width:100px; resize:none', 'placeholder': 'Stars'|trans } }) }}
            {% if form_errors(form.stars) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.stars) }}</div>{% endif %}

        </div>
        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
        </div>
    </form>


{% endblock %}
