{% extends "::base.html.twig" %}

{% block title %}Edit Book Info{% endblock %}

{% block content %}


<form class="form-signin" method="POST" enctype="multipart/form-data">
    <div class="form-group" id="fos_user_registration_form">
        <h2>Edit Book Info</h2>

        {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'Title'|trans } }) }}
        {% if form_errors(form.title) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.title) }}</div>{% endif %}

        {{ form_widget(form.summary, { 'attr': {'class': 'form-control', 'style' : 'height: 200px; resize:none', 'placeholder': 'Summary'|trans } }) }}
        {% if form_errors(form.summary) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.summary) }}</div>{% endif %}

        {{ form_widget(form.image, { 'attr': {'class': 'form-control', 'placeholder': 'Image'|trans } }) }}
        {% if form_errors(form.image) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.image) }}</div>{% endif %}


        {{ form_widget(form.author, { 'attr': {'class': 'form-control', 'placeholder': 'Author'|trans } }) }}
        {% if form_errors(form.author) %}<div class="alert alert-danger" role="alert">{{ form_errors(form.author) }}</div>{% endif %}

    </div>
    <div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
    </div>
</form>

{% endblock %}
