{% extends 'base.html.twig' %}
{% block title %}
    Book Review HomePage
{% endblock %}
{% block content %}
<p class="lead" style="margin-top: 30px">Welcome To Book Review Website.<br>
<span style="font-size: medium">Latest 10 Books</span>
</p>
    {% for book in books %}
        <div style="display: inline-block; margin-left: 50px; text-align: center">
             {% set img = image_directory ~ book.image %}
            <a href="{{ path('view', {'id': book.id }) }}">
            <img style="margin-top: 150px"  width="150" src="{{ asset(img) }}" />
            <p class="lead"> {{ book.title| slice(0, 30) }}</a></p>

        </div>
    {% endfor %}

{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
