{% extends 'base.html.twig' %}
{% block title %}
    Search HomePage
{% endblock %}
{% block content %}
    {% if results %}
        <p class="lead" style="margin-top: 30px">Search Results<br></p>
        {% for result in results %}
        <div style="display: inline-block; margin-left: 50px; text-align: center">
            {% set img = image_directory ~ result.image %}
            <a href="{{ path('view', {'id': result.id }) }}">
                <img style="margin-top: 150px"  width="150" src="{{ asset(img) }}" />
                <p class="lead"> {{ result.title }}</a></p>

        </div>
    {% endfor %}
        <hr>
    {% endif %}
    {% if gresults %}
        <p class="lead" style="margin-top: 30px">Google Books</p>
        {% for gresult in gresults %}
            <div style="display: inline-block; margin-left: 50px; text-align: center">
                    <img style="margin-top: 150px"  width="150" src="{{ gresult.imageLink }}" />
                    <p class="lead"> {{ gresult.title| slice(0, 30) }}</p>
                <a href="{{ path('integrate_content', {'id': gresult.id }) }}">Add</a>
            </div>
        {% endfor %}
    {% endif %}

    {% if not results and not gresults %}
        <br><h4>No Results Found!</h4>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
