{% extends "::base.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4" style="font-weight: bold">Book Title: {{ book.title }}, Rate: {{ rate |number_format(2, '.', ',') }}/5
        </div>
    </div>

    {% set img = image_directory ~ book.image %}
    <img style="margin-top: 10px"  width="355" src="{{ asset(img) }}" />

    <div class="row">
        <div class="col-md-4">{{ book.summary }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">Author: {{ book.author }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">Publish Date: {{ book.created |date('Y-m-d') }}, by {{ book.user }}
        </div>
    </div>

    {% if is_granted("ROLE_ADMIN") or  ( is_granted("ROLE_USER") and book.user== app.user ) %}
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 10px">
                <a style="color: green; margin-left: 20px" href="{{ path('edit', {'id': book.id }) }}">Edit</a>
                <a style="color: red; margin-left: 20px" href="{{ path('delete', {'id': book.id}) }}">Delete</a>
            </div>
        </div>

    {% endif %}


    <div class="reviewsDiv">
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
        Post Review As: <label>{{ app.user }}</label>
        <form action="{{ path('view', {'id': book.id }) }}" method="post">
            <label>Stars:</label><input required type="number" max="5" min="0" value="5" style="margin-left: 10px" name="stars">
            <p><textarea required name="comment" placeholder="Add Your Comment" class="textareaviewstyle"></textarea></p>
            <input type="submit" value="Post Comment" class="postCommentStyle">
        </form>
<hr>
        {% endif %}
<p style="font-weight: bold">Reviews</p>
        {% for review in reviews %}
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">{{ review.user }}, {{ review.stars }} Stars</h4>
                    <p class="list-group-item-text">{{ review.comment }}</p>
                </a>
            {% if (is_granted("ROLE_USER") and review.user == app.user) or is_granted("ROLE_ADMIN")  %}
                <a style="text-underline: none; color: green; margin-left: 10px" href="{{ path('edit_review', {'id': review.id }) }}">Edit</a>  <a style="text-underline: none; color:red; margin-left: 10px" href="{{ path('delete_review', {'id': review.id}) }}">Delete</a>
                {% endif %}
                </div>
        {% endfor %}
    </div>




        {% endblock %}

{% block stylesheets %}
    <style>
        h4 {
            margin-top: 25px;
        }
        .row {
            font-family: "Tahoma";
        }
        .row .row {
            margin-top: 10px;
            margin-bottom: 0;
        }
        [class*="col-"] {
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #eee;
            background-color: rgba(86,61,124,.15);
            border: 1px solid #ddd;
            border: 1px solid rgba(86,61,124,.2);
        }

        hr {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .reviewsDiv{
            position: fixed;
            top: 100px;
            right: 40px;
            float: right;
            width: 600px;
            height: 520px;
            overflow: scroll;
            background-color: #eee;
            background-color: rgba(86,61,124,.15);
            border: 1px solid #ddd;
            border: 1px solid rgba(86,61,124,.2);
            padding: 5px;
        }

        .textareaviewstyle{
            border: 3px solid #cccccc;
            padding: 5px;
            font-family: Tahoma, sans-serif;
            background-position: bottom right;
            background-repeat: no-repeat;
            width: 100%;
            height: 100px;
            resize: none;
        }

        .postCommentStyle{
            display: inline-block;
            font-size: 16px;
            font-family: "Bitter",serif;
            line-height: 1.8;
            appearance: none;
            box-shadow: none;
            border-radius: 0;
        }

    </style>
{% endblock %}