{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Login Page
{% endblock %}
{% block fos_user_content %}
    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}
