{% extends '::base.html.twig' %}

{% block title %}
    Registration Page
{%  endblock %}

{% block content %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    <div class="alert alert-success" style="margin-top: 20px" role="alert">{{ message }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

{% endblock %}